 
  /* ======= Portfolios ====== */
  .content {
    padding: 4rem;
    background-color: #2A2E35;
  }
  
  .container {
    padding: 2rem;
  }


  .portText {
    padding: 2rem 0;
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Fira Code';
  }
  
  .portfolios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
  .portfolios .portfolioItem {
    position: relative;
    border-radius: 15px;
  }

  .portfolios .portfolioItem .hoverItems {
    width: 100%;
    height: 100%;
    background-color: #972DA8;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
  }
  .portfolios .portfolioItem .hoverItems h3 {
    font-size: 1.5rem;
    color: whitesmoke;
    margin-bottom: 1.5rem;
  }
  .portfolios .portfolioItem .hoverItems .icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .portfolios .portfoliItem .hoverItems .icons .icon {
    background-color: #972DA8;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
  }

  .portfolios .portfolioItem .hoverItems h3{
    font-family: 'Fira Code';
  }

  .portfolios .portfolioItem .hoverItems .icons .icon i {
    font-size: 1.5rem;
    color: whitesmoke;
    margin: 0 1rem;
  }
  .portfolios .portfolioItem .hoverItems .icons .icon:hover {
    background-color: whitesmoke;
    padding: 0.5rem 0.75rem;
    border-radius: 50px;
  }
  .portfolios .portfolioItem .hoverItems .icons .icon:hover i {
    color: #972DA8;
  }
  
  .portfolioItem:hover .hoverItems {
    opacity: 1;
    transform: scale(1);
  }

.mainTitle {
    text-align: center;
    font-family: 'MrRobot';
    font-weight: 200;
  }

  .mainTitle h2 span {
    color: #972DA8;
  }
  .mainTitle h2 .bgText {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ffffff10;
    transition: all 0.4s ease-in-out;
    z-index: -1;
    transform: translate(-50%, -50%);
    font-weight: 200;
    font-size: 6.3rem;
  }

  .mainTitle h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 200;
    color: whitesmoke;
    z-index: 1;
  }
 
  .workInProgress {
    background-color: antiquewhite;
  }

@media screen and (max-width:640px) {
    .container {
      padding: 0 !important;
    }

    .portText {
      padding: 0;
    }
}

@media screen and (max-width: 975px) {
  .portfolios {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 720px) {
  .portfolios {
    grid-template-columns: 1fr;
  }
}