@font-face {
  font-family: 'MrRobot';
  src: local('MrRobot'), url('../../../../public//MR\ ROBOT.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');


.font-firaCode {
  font-family: 'Fira Code', monospace;
}

.font-mrRobot {
  font-family: 'MrRobot';
}

.grid-cols-40-1fr {
  grid-template-columns: 40px 1fr;
}

.flex-3 {
  flex: 3;
}

.flex-2 {
  flex: 2;
}

.teste a:hover {
  background-color: #972DA8;
}
.teste a:hover i {
  color: #972DA8;
}


.mainTitle {
  text-align: center;
  font-family: 'MrRobot';
  font-weight: 200;
}

.mainTitle h2 span {
  color: #972DA8;
}
.mainTitle h2 .bgText {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffffff10;
  transition: all 0.4s ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: 200;
  font-size: 6.3rem;
}

.mainTitle h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 200;
  color: whitesmoke;
  z-index: 1;
}

.contactContentCon .rightContact {
  flex: 3;
  margin-left: 3rem;
  gap: 2rem;
  padding-bottom: 2rem;
}
.contactContentCon .rightContact .inputControl {
  margin: 1.5rem 0;
  color: antiquewhite !important;
}

.contactContentCon .rightContact .inputControlFirst {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


.contactContentCon .rightContact .inputControl input, .contactContentCon .rightContact .inputControl textarea {
  border-radius: 30px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.8rem 1.1rem;
  outline: none;
  border: none;
  width: 100%;
  resize: none;
}
.contactContentCon .rightContact .i-c-2 {
  display: flex;
}
.contactContentCon .rightContact .i-c-2 :last-child {
  margin-left: 1.5rem;
}
.contactContentCon .rightContact .submitBtn {
  display: flex;
  justify-content: flex-start;
}




.submitBtn {
  
}

.submitBtn input {
  font-family: 'Fira Code';
  font-size: 15px;
  border-radius: 40px;
  color: whitesmoke;
  font-weight: 600;
  position: relative;
  border: 4px dashed #972DA8;
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
  padding: 1rem 3rem;
  background-color: transparent;
}

.submitBtn input:hover {
  background-color: #972DA8;
}


@media screen and (max-width: 600px) {
  
  .contactContentCon {
    flex-direction: column;
  }
  .contactContentCon .rightContact {
    margin-left: 0;
    margin-top: 2.5rem;
  }

  .contactContentCon .rightContact .i-c-2 {
    flex-direction: column;
  }

  .contactContentCon .rightContact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }

  .contactContentCon .rightContact {
    margin-bottom: 6rem;
  }

  .contactItem {
    flex-direction: column;
    margin: 1rem 0;
  }
  .contactItem p {
    font-size: 15px;
    color: white;
  }
  .contactItem span {
    font-size: 15px;
  }
  .contactItem .icon {
    grid-template-columns: 25px 1fr;
  }

  .contactContentCon .leftContact .contactInfo {
    margin: 1rem 0;
  }

  .contactContentCon .leftContact .contactInfo .contactItem {
    flex-direction: column;
    font-size: 15px;
    padding: 1rem 0;
  }
}