
.mainTitle {
  text-align: center;
  font-family: 'MrRobot';
  font-weight: 200;
}

.mainTitle h2 span {
  color: #972DA8;
}
.mainTitle h2 .bgText {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffffff10;
  transition: all 0.4s ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: 200;
  font-size: 6.3rem;
}

.mainTitle h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 200;
  color: whitesmoke;
  z-index: 1;
}

.workInProgress {
  background-color: antiquewhite;
}


.container {
  padding: 3rem 6rem !important;
}

.contactContentCon {
  display: flex;
  padding-top: 3.5rem;
  flex-direction: column;
  color: antiquewhite;
  font-family: 'Fira Code';

}
.contactContentCon .leftContact {
  flex: 2;
}
.contactContentCon .leftContact h4 {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}
.contactContentCon .leftContact p {
  margin: 1rem 0;
  line-height: 2rem;
}
.contactContentCon .leftContact .contactInfo .contactItem {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactContentCon .leftContact .contactInfo .contactItem p {
  margin: 0.3rem 0 !important;
  padding: 0 !important;
}
.contactContentCon .leftContact .contactInfo .contactItem .icon {
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  justify-content: center;
}
.contactContentCon .leftContact .contactInfo .contactItem .icon i {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}
.contactContentCon .leftContact .contactIcon {
  display: flex;
  margin-top: 2rem;
}
.contactContentCon .leftContact .contactIcon a {
  display: flex;
  align-items: center;
  color: whitesmoke;
  background-color: #6C7983;
  cursor: pointer;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 0.4rem;
  transition: all 0.4s ease-in-out;
}
.contactContentCon .leftContact .contactIcon a:hover {
  background-color: #972DA8;
}
.contactContentCon .leftContact .contactIcon a:hover i {
  color: #972DA8;
}
.contactContentCon .leftContact .contactIcon a i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}
.contactContentCon .rightContact {
  flex: 3;
  margin-left: 3rem;
  gap: 2rem;
  padding-bottom: 2rem;
}
.contactContentCon .rightContact .inputControl {
  margin: 1.5rem 0;
  color: antiquewhite !important;
}

.contactContentCon .rightContact .inputControlFirst {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


.contactContentCon .rightContact .inputControl input, .contactContentCon .rightContact .inputControl textarea {
  border-radius: 30px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.8rem 1.1rem;
  outline: none;
  border: none;
  width: 100%;
  resize: none;
}
.contactContentCon .rightContact .i-c-2 {
  display: flex;
}
.contactContentCon .rightContact .i-c-2 :last-child {
  margin-left: 1.5rem;
}
.contactContentCon .rightContact .submitBtn {
  display: flex;
  justify-content: flex-start;
}




.submitBtn {
  
}

.submitBtn input {
  font-family: 'Fira Code';
  font-size: 15px;
  border-radius: 40px;
  color: whitesmoke;
  font-weight: 600;
  position: relative;
  border: 4px dashed #972DA8;
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
  padding: 1rem 3rem;
  background-color: transparent;
}

.submitBtn input:hover {
  background-color: #972DA8;
}


@media screen and (max-width: 600px) {
  
  .contactContentCon {
    flex-direction: column;
  }
  .contactContentCon .rightContact {
    margin-left: 0;
    margin-top: 2.5rem;
  }

  .contactContentCon .rightContact .i-c-2 {
    flex-direction: column;
  }

  .contactContentCon .rightContact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }

  .contactContentCon .rightContact {
    margin-bottom: 6rem;
  }

  .contactItem {
    flex-direction: column;
    margin: 1rem 0;
  }
  .contactItem p {
    font-size: 15px;
    color: white;
  }
  .contactItem span {
    font-size: 15px;
  }
  .contactItem .icon {
    grid-template-columns: 25px 1fr;
  }

  .contactContentCon .leftContact .contactInfo {
    margin: 1rem 0;
  }

  .contactContentCon .leftContact .contactInfo .contactItem {
    flex-direction: column;
    font-size: 15px;
    padding: 1rem 0;
  }

  .contactContainer {
  }
}