.content {
  padding: 4rem;
  background-color: #2A2E35;
  height: 100vh;
}

.mainTitle {
  text-align: center;
  font-family: 'MrRobot';
  font-weight: 200;
}

.mainTitle h2 span {
  color: #972DA8;
}
.mainTitle h2 .bgText {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffffff10;
  transition: all 0.4s ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: 200;
  font-size: 6.3rem;
}

.mainTitle h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 200;
  color: whitesmoke;
  z-index: 1;
}

.workInProgress {
  background-color: antiquewhite;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  color: antiquewhite;
  text-align: center;
}

.container h3 {
  font-family: 'Fira Code';
  font-size: 4rem;
  text-transform: uppercase;
}