
.aboutSection {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
    background-color: #2A2E35;
    font-family: 'Fira Code', monospace;
}

.aboutContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}

.rightAbout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.aboutItem {
  border: 1px solid gray;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}

.aboutItem:hover {
    cursor: default;
    transform: translateY(-5px);
    border: 1px solid #972DA8;
    box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
}

.abtText {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.largeText {
font-size: 3rem;
  font-weight: 700;
  color: #972DA8;
}

.smallText {
    padding-left: 3rem;
    position: relative;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: gray;
    letter-spacing: 2px;
}   

.smallText::before {
    content: "";
    position: absolute;
    left: 0;
    top: 15px;
    width: 2rem;
    height: 2px;
    background-color: #972DA8;
}

.leftAbout {
    padding-right: 5rem;
}

.leftAbout p {
    line-height: 2rem;
  padding: 1rem;
  color: white;
}

.leftAbout h4 {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'MrRobot';
    font-weight: 200;
    color: whitesmoke;
}



.btnCv {
  display: flex;
  align-self: flex-start;
  z-index: 3;
}

.btnMain {
  border-radius: 40px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 4px dashed #972DA8;
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
}

.btnMain::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-out;
  z-index: -1;
}

.btnMain:hover {
  transition: all 0.4s ease-out;
  z-index: 1;
}

.btnMain:hover::before {
  width: 100%;
  height: 100%;
  background-color: #972DA8;
  transform: translateX(0);
  transition: all 0.4s ease-out;
}

.btnText {
  padding: 0 2rem;
  font-family: 'MrRobot';
  font-weight: 200;
  color: whitesmoke;
}

.btnIcon {
  background-color: #972DA8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.5rem;
}

  .mainTitle {
    text-align: center;
    font-family: 'MrRobot';
    font-weight: 200;
  }

  .mainTitle h2 span {
    color: #972DA8;
  }
  .mainTitle h2 .bgText {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ffffff10;
    transition: all 0.4s ease-in-out;
    z-index: -1;
    transform: translate(-50%, -50%);
    font-weight: 200;
    font-size: 6.3rem;
  }

  .mainTitle h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 200;
    color: whitesmoke;
    z-index: 1;
  }
  
  .aboutContainer .leftAbout p {
    padding-left: 0;
  }




  .SkillsContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    padding-top: 3.5rem;
    padding-bottom: 5rem;
  }

  .SkillItem {
    border: 4px dashed #972DA8;
    border-radius: 10px;
  }

  .SkillItem h4 {
    font-family: 'MrRobot';
    font-weight: 300;
    color: whitesmoke;
    margin: 1rem;
  }

  .ItemsTech {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  .ItemTech {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem ;
  }

  .ItemTech p {
    font-family: 'Fira Code', monospace;
    color: whitesmoke;
    font-size: 20px;
  }

  /*Timeline*/

.timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
}
.timeline .timelineItem {
  position: relative;
  padding-left: 3rem;
  border-left: 1px solid #FFFFFF;
}
.timeline .timelineItem .tlIcon {
  position: absolute;
  left: -27px;
  top: 0;
  background-color: #972DA8;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timeline .timelineItem .tlIcon i {
  font-size: 1.3rem;
}
.timeline .timelineItem .tlDuration {
  padding: 0.2rem 0.6rem;
  background-color: #D9D9D9;
  color: #972DA8;
  border-radius: 15px;
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
}
.timeline .timelineItem h5 {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 200;
  font-family: 'MrRobot';
  color: #FFFFFF;
}
.timeline .timelineItem h5 span {
  color: #972DA8;
  font-weight: 500;
  font-size: 1.2rem;
  font-family: 'Fira Code', monospace;
}
.timeline .timelineItem p {
  color: #FFFFFF;
}

.timelineItem ul.timelineList{
  color: #FFFFFF;
}

.timelineItem ul.timelineList li{
  list-style-type: disc;
  list-style-position: inside;
}




  /* ================== Animações ========================== */

.activeAnimation {
    animation: appear 1s ease-in-out;
    transform: translateY(0) scaleY(1);
  }
  @keyframes appear {
    0% {
      transform: translateY(-100%) scaleY(0);
    }
    100% {
      transform: translateY(0) scaleY(1);
    }
  }

/* ================== Media Queries ========================== */


  @media screen and (max-width: 600px) {
    .aboutSection {
      padding: 3rem 2.5rem;
    }

    .aboutContainer {
      grid-template-columns: repeat(1, 1fr);
    }
    .aboutContainer .rightAbout {
      grid-template-columns: repeat(1, 1fr);
      padding-top: 2.5rem;
    }
    .aboutContainer .leftAbout {
      padding-right: 0;
    }
    .aboutContainer .leftAbout p {
      padding-left: 0;
    }
    .container {
      padding: 2rem 2.5rem !important;
    }

    .mainTitle h2 {
      font-size: 2rem !important;
    }
    .mainTitle h2 span {
      font-size: 2.3rem !important;
    }
    .mainTitle h2 .bgText {
      font-size: 2.5rem !important;
    }
  }

  @media screen and (max-width: 1070px) {

    .aboutSection {
      padding: 3rem 2.5rem;
    }
    .aboutContainer {
      grid-template-columns: repeat(1, 1fr);
    }

    .aboutContainer .leftAbout {
      padding: 0 2rem;
      text-align: justify;
    }
    .aboutContainer .leftAbout p {
      display: flex;
      padding-left: 0;
      margin: auto;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    .aboutContainer .rightAbout {
      padding-top: 2.5rem;
    }
    .aboutContainer .rightAbout {
      grid-template-columns: repeat(1fr 1fr);
      padding-top: 2.5rem;
    }

    
    .mainTitle h2 {
      font-size: 3rem;
    }
    .mainTitle h2 span {
      font-size: 3rem;
    }
    .mainTitle h2 .bgText {
      font-size: 4rem;
    }
}

@media screen and (max-width: 1432px) {
  
  .mainTitle h2 .bg-text {
    font-size: 5.5rem;
  }
}

@media screen and (max-width: 1250px) {
 
  .profileContainer .profileRight {
    padding-right: 9rem;
  }

  .ItemsTech {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
}


@media screen and (max-width: 970px) {

  .container {
    padding: 7rem 6rem;
  }

  .aboutContainer .leftAbout {
    padding-right: 0rem;
  }

  .aboutSection {
    padding: 0 !important;
  }

  .timeline {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 1366px) {
  .aboutSection {
    padding: 3rem 8rem;
  }
}